.container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

.container h1 {
  text-align: left;
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
}

.container h2 {
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  margin: 45px;
  margin-top: 80px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.wrapper h1 {
  font-weight: 500;
  text-align: right;
}
.stroka {
  width: 100%;
  margin-top: 0px;
  overflow: hidden;
  /* background-color: #585ec9; */
  border-radius: 30px;
  position: relative;
}

.marquee {
  display: flex;
  width: 100%;
}

.marqueeInner {
  display: flex;
  animation: marquee 20s linear infinite;
  align-items: center;
}

.img {
  width: 200px;
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.button {
  margin-top: 40px;
  width: 530px;
  height: 100px;
  cursor: pointer;
  background-color: #3b30ee;
  border: none;
  border-radius: 20px;
  transition: 0.3s ease;
}
.button h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 300;
}
.button:hover {
  background-color: #2f27c1;
}

@media (max-width: 1100px) {
  .container h1 {
    text-align: left;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
  }
  .container h2 {
    font-size: 35px;
    font-weight: 400;
    text-align: left;
    margin-top: 50px;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 15px;
  }
  .container h1 {
    text-align: left;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
  }
  .container h2 {
    font-size: 25px;
    font-weight: 400;
    text-align: left;
    margin-top: 50px;
  }
  .button {
    width: 350px;
  }
  .img {
    width: 200px;
    padding: 0px;
  }
}
