.container {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.container h1 {
  font-size: 64px;
  font-weight: 700;
  max-width: 100%;
  text-align: left;
}

.sliderWrapper {
  position: relative;
  margin-top: 30px;
}

.arrowWrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: stretch;
  background-color: #eceaea;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}

.wrapper.animating {
  transition: transform 0.5s ease-in-out;
}

.slide {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slideContent {
  display: flex;
  width: 100%;
  flex-shrink: 0;
}

.leftSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #5f58c9;
  padding: 30px;
  border-radius: 30px;
  color: #fff;
  z-index: 1;
}

.leftSide img {
  width: 160px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.leftSide h2 {
  font-size: 36px;
  margin: 0;
}

.leftSide h3 {
  font-size: 24px;
  margin: 0px;
  font-weight: 400;
}

.leftSide p {
  font-size: 24px;
  margin: 0;
  margin-top: 50px;
  font-weight: 400;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;
  width: 50%;
  background-color: #e3e1ff;
  padding: 30px;
  margin-left: -20px;
  z-index: 0;
}

.rightSide img {
  width: 100%;
  margin-left: 15px;
}

.rightSide h1 {
  font-size: 36px;
  color: #5f58c9;
}

.arrow {
  background-color: #5f58c9;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.arrow:hover {
  background-color: #5f58c9;
}

@media (max-width: 1100px) {
  .container h1 {
    font-size: 40px;
    font-weight: 700;
    max-width: 80%;
  }

  .leftSide {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #5f58c9;
    padding: 30px;
    border-radius: 30px;
    color: #fff;
  }

  .leftSide img {
    margin-bottom: 0px;
  }

  .leftSide h2 {
    font-size: 40px;
    margin-bottom: 0px;
  }

  .leftSide h3 {
    font-size: 30px;
    margin-bottom: 0px;
  }

  .leftSide p {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 400;
  }

  .rightSide img {
    width: 450px;
    height: 300px;
  }

  .rightSide h1 {
    font-size: 40px;
    color: #7a73e7;
  }
}

@media (max-width: 850px) {
  .slideContent {
    display: flex;
    flex-direction: column;
  }

  .leftSide {
    width: auto;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #5f58c9;
    color: #fff;
    border-radius: 0%;
  }

  .leftSide img {
    margin-bottom: 0px;
  }

  .leftSide h2 {
    font-size: 40px;
    margin-bottom: 0px;
  }

  .leftSide h3 {
    font-size: 30px;
    margin-bottom: 0px;
  }

  .leftSide p {
    font-size: 20px;
    margin: 30px;
    font-weight: 400;
    text-align: center;
  }

  .rightSide {
    width: auto;
  }
  .rightSide img {
    width: 450px;
    height: 300px;
  }

  .rightSide h1 {
    font-size: 40px;
    color: #7a73e7;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 15px;
  }
  .container h1 {
    font-size: 30px;
    text-align: left;
  }

  .leftSide {
    width: auto;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #5f58c9;
    color: #fff;
    border-radius: 0%;
  }

  .leftSide img {
    padding-top: 50px;
    width: 120px;
    margin-bottom: 10px;
  }

  .leftSide h2 {
    font-size: 20px;
    margin: 0px;
  }

  .leftSide h3 {
    font-size: 15px;
    margin: 0;
  }

  .leftSide p {
    font-size: 12px;
    margin: 15px;
    font-weight: 400;
  }

  .rightSide {
    width: auto;
    height: 200px;
  }
  .rightSide img {
    width: 300px;
    height: 250px;
  }

  .rightSide h1 {
    font-size: 20px;
    color: #5f58c9;
    margin: 0;
    margin-bottom: 10px;
  }
}
