.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  padding-top: 100px;
  background-color: #585ec9;
}
.container {
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  color: #fff;
  background-color: #4d46c1;
}
.inner {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inner h1 {
  font-family: Montserrat;
  font-size: 100px;
  font-weight: 700;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.inner h2 {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 500;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}
h1 {
  text-align: center;
  font-size: 34px;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
::placeholder {
  color: #959595;
}
input[type="text"],
input[type="email"],
textarea,
select,
.fileUpload {
  width: 550px;
  height: 70px;
  outline: none;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 100px;
  border: none;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 22px;
  font-family: "Montserrat";
  font-weight: 500;
}
.fileUpload {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #959595;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
}
.fileUpload img {
  margin-right: 30px;
}
input[type="file"] {
  display: none;
}
.fileUpload label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
}

.submiBtn {
  width: 544px;
  height: 92.31px;
  border-radius: 100px;
  opacity: 0px;
  border: none;
  background-color: #ebb376;
  color: #fff;

  font-size: 28px;
}
button.submiBtn {
  margin-top: 30px;
}
.column {
  width: 48%;
}
.fullWidth {
  width: 100%;
}
select {
  padding: 8px;
  margin-bottom: 10px;
  background-color: #fff;
  color: black;
  border: 2px solid #fff;
  font-size: 20px;
}

@media (max-width: 500px) {
  .wrapper {
    padding: 15px;
    padding-top: 50px;
  }

  .container {
    padding: 15px;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  label {
    font-size: 18px;
  }

  input[type="text"],
  input[type="email"],
  textarea,
  select {
    font-size: 16px;
    padding: 10px;
  }

  textarea {
    height: 150px;
  }

  .fileUpload {
    padding: 8px;
    font-size: 16px;
  }

  .fileUpload i {
    margin-left: 5px;
  }

  select {
    font-size: 16px;
    padding: 6px;
  }

  .column {
    width: 100%;
  }

  .submiBtn {
    width: 100%;
    margin-top: 20px;
  }
}
