.container {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.container h1 {
  font-size: 48px;
  text-align: center;
}

.card {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  width: 433px;
  height: 549px;
  background-color: #5f58c9;
  border-radius: 20px;
  text-align: center;
}
.toast {
  background-color: #ebb376;
  width: 230px;
  height: 37px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.toast h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.card img {
  width: 200px;
}

.card h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  padding: 20px;
  text-align: left;
  padding-top: 0;
}
.card h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  padding: 10px;
  padding-left: 20px;
  margin: 0;
  text-align: left;
  padding-top: 0;
}
@media (max-width: 500px) {
  .container {
    padding: 15px;
  }
  .container h1 {
    font-size: 30px;
  }
  .card:first-child {
    margin-left: 2500px; /* Отступ слева для первой карточки */
  }
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .card {
    flex: 0 0 auto; /* Карточки не сжимаются */
    width: 80%; /* Ширина карточки */
    scroll-snap-align: start; /* Фиксация карточки при прокрутке */
    margin-right: 15px; /* Отступ между карточками */
  }
}
