.container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.container h1 {
  font-size: 40px;
  text-align: center;
}

.card {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 450px;
  border: solid 2px #7a73e7;
  border-radius: 20px;
  text-align: center;
}

.card img {
  width: 200px;
  margin-bottom: 50px;
}

.card h2 {
  font-size: 25px;
  line-height: 1.3;
  margin-bottom: 10px;
}
