.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #5a52d6;
  height: 50px;
}

@media (max-width: 1200px) {
  .footer {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .footer p {
    font-size: 10px;
  }
}
