body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
@import url("https://fonts.googleapis.com/css2?family=Allerta&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Montserrat";
}

@import url("https://fonts.googleapis.com/css2?family=Allerta&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
